.character-row:hover{
    cursor: pointer;
    background-color: darkgray;
}

.box-character{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
   
}


.box-pop-character{
    border: black 0.1em solid;
}